body {
    margin: 0;
    background-image: url("neeqolah-creative-works-Tn5gnXGI3hI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    text-align: center;
    margin: 10px 0;
    font-family: 'Honk';
    font-size: 80px;
    margin-bottom: -20px;
}

.container {
    margin-top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
}

/* Game Area in der Mitte */
.gameArea {
    height: 600px;
    width: 500px;
    border: solid black 1px;
    border-radius: 10px;
    margin-left: 50px; 
    box-shadow: 0 8px 6px 6px #000;
    background-color: white;
}

.anzeige {
    height: 200px;
    width: 450px;
    border: solid #c0c0c0c6 10px;
    box-shadow: 0 4px 4px 4px #000;
    border-radius: 15px;
    background-color: #29ac64b7;
    margin-left: 1.2rem;
}

/* High Score links */
.highScore { 
    height: 600px;
    width: 350px;
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 8px 6px 6px #000;
    background-color: white;
}

/* Progress Area rechts */
.progressArea {
    height: 600px;
    width: 350px;
    border: solid rgb(0, 0, 0) 1px; 
    border-radius: 10px;
    margin-left: 50px; 
    box-shadow: 0 8px 6px 6px #000;
    background-color: white;
}

h2 {
    font-family: 'Honk';
    text-align: center;
    font-size: 30px;
}
