body {
    margin: 0;
    background-image: url("neeqolah-creative-works-Tn5gnXGI3hI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    text-align: center;
    margin: 10px 0;
    font-family: 'Honk';
    font-size: 80px;
    margin-bottom: -20px;
}

.container {
    margin-top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
}

.gameArea {
    height: 600px;
    width: 500px;
    border: solid black 1px;
    border-radius: 10px;
    margin-left: 50px; 
    box-shadow: 0 8px 6px 6px #000;
    background-color: white;
}

.highScore { 
    height: 600px;
    width: 350px;
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 8px 6px 6px #000;
    background-color: white;
}

.progressArea {
    height: 600px;
    width: 350px;
    border: solid rgb(0, 0, 0) 1px; 
    border-radius: 10px;
    margin-left: 50px; 
    box-shadow: 0 8px 6px 6px #000;
    background-color: white;
}

h2 {
    font-family: 'Honk';
    text-align: center;
    font-size: 30px;
}
